@import "./reset";
@import "./variables";

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    background-color: var(--background);
    font-family: sans-serif;
    color: var(--text);
    font-size: 62.5%; // makes 1rem = 10px
}

svg {
    margin-bottom: 2.4rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.inner {
    width: 100%;
}

a {
    color: #3E98F7;
    text-decoration: none;
}

.socials {
    display: inline-block;
    margin: 0 auto;
}

ul {
    font-size: 1.4rem;
    display: flex;
    margin: 0 auto;
    a {
        opacity: .75;
        display: block;
        padding: 1rem;
        color: var(--text);
        &:hover {
            opacity: 1;
        }
    }
}
